<p id="notice"><%= notice %></p>
<div class="jumbotron" background-color="lightblue">
    <h1 align="center">Listing Users</h1>
  </div>


<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td>
        <button type="button" class="btn btn-primary"><%= link_to ' Show', user %></button>
        <button type="button" class="btn btn-info"><%= link_to ' Edit', edit_user_path(user) %></button>
        <button type="button" class="btn btn-danger"><%= link_to ' Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>

<button type="button" class="btn btn-success"><%= link_to 'New User', new_user_path %></button>
<button type="button" class="btn btn-warning"><%= link_to 'Posts', microposts_path %></button>
